<% if users.any? %>

    <% users.each do |user| %>
    
    <div class="user-card my-1">
    
      <div class="user-icon">
        <%= image_tag user.image.url, :size => '50x50' , alt: "User Icon.", class: "rounded-circle" %>
      </div>
      <div class="user-main">
        <div class="user-content">
         <p><b><%= link_to user.name, user_path(user) %></b></p>
        </div>
        
        <div class="user-content">
          <p class="text-overflow" style="word-break: break-all;"><%= user.prof %></p>
        </div>
      </div>
      </div>
      <% end %>
      
    

  <%= paginate users %>
<% end %>